baseURL = 'https://club-de-programacion-uach.github.io/'
languageCode = 'es-mx'
title = 'Club de Programacion'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'
